################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.net/Problems/.vs/Problems/DesignTimeBuild/.dtbcache.v2
/.net/Problems/.vs/Problems/FileContentIndex/read.lock
/.net/Problems/.vs/Problems/FileContentIndex/f7fde03d-7a1d-44d6-9b1c-507b0fc29ab2.vsidx
/.net/Problems/.vs/Problems/FileContentIndex/8ca50747-845b-4239-9af6-8b5b207dd230.vsidx
/.net/Problems/.vs/Problems/FileContentIndex/28bead92-2cb1-493d-9d0c-b2ceace013f7.vsidx
/.net/Problems/Problems/bin/Debug/net6.0/Problems.runtimeconfig.json
/.net/Problems/Problems/bin/Debug/net6.0/Problems.pdb
/.net/Problems/Problems/bin/Debug/net6.0/Problems.exe
/.net/Problems/Problems/bin/Debug/net6.0/Problems.dll
/.net/Problems/Problems/bin/Debug/net6.0/Problems.deps.json
/.net/Problems/Problems/obj/Debug/net6.0/_IsIncrementalBuild
/.net/Problems/Problems/obj/Debug/net6.0/Problems.pdb
/.net/Problems/Problems/obj/Debug/net6.0/Problems.GlobalUsings.g.cs
/.net/Problems/Problems/obj/Debug/net6.0/Problems.genruntimeconfig.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problems.GeneratedMSBuildEditorConfig.editorconfig
/.net/Problems/Problems/obj/Debug/net6.0/Problems.dll
/.net/Problems/Problems/obj/Debug/net6.0/Problems.csproj.FileListAbsolute.txt
/.net/Problems/Problems/obj/Debug/net6.0/Problems.csproj.CoreCompileInputs.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problems.csproj.BuildWithSkipAnalyzers
/.net/Problems/Problems/obj/Debug/net6.0/Problems.csproj.AssemblyReference.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problems.assets.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problems.AssemblyInfoInputs.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problems.AssemblyInfo.cs
/.net/Problems/Problems/obj/Debug/net6.0/Problams.GlobalUsings.g.cs
/.net/Problems/Problems/obj/Debug/net6.0/Problams.GeneratedMSBuildEditorConfig.editorconfig
/.net/Problems/Problems/obj/Debug/net6.0/Problams.csproj.AssemblyReference.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problams.assets.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problams.AssemblyInfoInputs.cache
/.net/Problems/Problems/obj/Debug/net6.0/Problams.AssemblyInfo.cs
/.net/Problems/Problems/obj/Debug/net6.0/apphost.exe
/.net/Problems/Problems/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.vscode/tasks.json
/.vscode/launch.json
/.vscode
/.net/Problems/Problems/obj/project.nuget.cache
/.net/Problems/Problems/obj/project.assets.json
/.net/Problems/Problems/obj/Problems.csproj.nuget.g.targets
/.net/Problems/Problems/obj/Problems.csproj.nuget.g.props
/.net/Problems/Problems/obj/Problems.csproj.nuget.dgspec.json
/.net/Problems/Problems/obj/Problams.csproj.nuget.g.targets
/.net/Problems/Problems/obj/Problams.csproj.nuget.g.props
/.net/Problems/Problems/obj/Problams.csproj.nuget.dgspec.json
/.net/Problems/Problems/obj/Debug/net6.0/refint/Problems.dll
/.net/Problems/Problems/obj/Debug/net6.0/refint
/.net/Problems/Problems/obj/Debug/net6.0/ref/Problems.dll
/.net/Problems/Problems/obj/Debug/net6.0/ref
/.net/Problems/Problems/obj/Debug/net6.0
/.net/Problems/Problems/obj
/.net/Problems/.vs/ProjectEvaluation/problems.projects.v5.1
/.net/Problems/.vs/ProjectEvaluation/problems.metadata.v5.1
/.net/Problems/.vs/ProjectEvaluation
/.net/Problems/.vs/Problems/v17/.suo
/.net/Problems/.vs/Problems/v17/.futdcache.v2
